@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    color: #222;
}
button {
    cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.homeP,
.loadJobsP,
.noJobsFound {
  font-size: 18px;
  font-weight: bold;
  color: #374151;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}